body{
    margin: 0;
}

header{
    font-size: 48px;
    font-style: italic;
    color: white;
    background-color: #f5cc53;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

nav{
    font-size: 24px;
    font-style: normal;
}

a{
    margin-right: 30px;
    text-decoration: none;
    color: white;
}

#logout-nav{
    display: none;
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
}

#login-form, #register-form{
    margin: auto;
    margin-top: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid gray;
}

#register-form{
    display: none;
}

#welcome1, #welcome2{
    font-size: 36px;
    color: #f5cc53;
}

#register-switch, #login-switch{
    margin-bottom: 5px;
}

#register-switch:hover, #login-switch:hover{
    cursor: pointer;
    text-decoration: underline;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    font-size: 24px;
    margin: 10px 0;
}

#login-submit, #register-submit{
    cursor: pointer;
}